/* src/styles/Home.module.css */
.container {
  padding: 2rem;
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Optional: to center text inside the container */
}

.categoryList,
.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.categoryCard,
.productCard {
  border: 1px solid #ddd;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  flex: 1 1 calc(25% - 1rem);
  box-sizing: border-box;
}

.categoryCard h3,
.productCard h3 {
  margin: 0 0 1rem;
}
